+section-heading('franchise-sale', 'Franchise Sale')
.container.grid-xl
  .columns
    +game-card(
      'https://www.microsoft.com/store/p/far-cry-3-classic-edition/BV2ZVP7PJZWL',
      'Far Cry 3 Classic Edition',
      'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTc7HdyXOnNd_XD3ZZYQ8ey9Out8ttLxb_liTw3TrX1IxvurNG7dRGrFcf4OAeO9XF_mNvcis3Rb2otvzj6OW0AK8t_HtSH49HmDcSFbYZuIRydh5d.yeMz9uh6aOA8eilpqpJ4Ol5sV.Jv_APDHkMSj8yTp24Gx3RHKlFUaKmBho8-&w=200&format=jpg',
      '$20.09',
      '$29.99',
      '33% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/far-cry-4-gold-edition/BSGDS8K2HGMF',
      'Far Cry 4 Gold Edition',
      'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcE8YnwDogdGbz7RVZZfJWb0fe.WAyvuRUWNc4dluKQ.Vdaw8qA7uZfIM7c64GAFTiKZJbsp8q4LpJVfIJtp38BqRqjQV.N5tLx9deJaO_gKn4ZBpR1e8Jf1fjlazTiSrQFwG6QfI3vKHC7JWOgrJaEMLfCfH93IyBgSmBG5yMZWY-&w=200&format=jpg',
      '$15.00',
      '$59.99',
      '75% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/far-cry-primal/BV6BRSLFJW3W',
      'Far Cry Primal',
      'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcUYrbz5FqEMKz1UrHzTAJigwAaDx.MeBrWgd8gW7gmD1Gunkqw7QDgbW7CPsM_54LxKk5wyQe5ONOy4mwY1gq6Ff_.AD6NjZB6OzCByCD9jNX.J2_uIXdvFbfLORZy9VRhcaaeRtD2vWK_rsnyPcX1kVtTu4pQTHqx7yHEbANWEM-&w=200&format=jpg',
      '$10.00',
      '$49.99',
      '80% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/SteamWorld-Dig-2/9P45LLRNDP1R',
      'Far Cry 4 + Far Cry Primal Bundle',
      'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTch1QP6w48ekr.lSmo4bekjfY65aCnpHd1yVL1bbp_lQoHTvscIoKz7cq7SLkIYI4TWfj.ldJxbt8EdsL.vd724ujmmioWuSgNYFNRaq7GPa7QeoPM0M0ZLtbimczgmCQsVNxpGaDT5xrNMX5mYumXtbyGTt0SDWAFW.8_pJo5A3w-&h=300&w=200&format=jpg',
      '$23.10',
      '$69.99',
      '67% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/far-cry-5/BR7X7MVBBQKM',
      'Far Cry 5',
      'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTc4KeDOnCrZK81vx74oXcKJldGl0okQWnnOQUd1YgTeezBPo3j0Dx0CCPxpxg31Sy3x1wXWnSU5.dTGhBMPk_SwiqK87dF1l2CmTqLy_stzNrEx7QP5KRPEsBP53nl5bPP.f_HISxGC1N0h.YilGlZ53rvzaFDOsSoKJz8y.60IrM-&w=200&format=jpg',
      '$19.80',
      '$59.99',
      '67% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/far-cry5---hours-of-darkness/BNQ7TLQDDC8T',
      'Far Cry 5 - Hours of Darkness',
      'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTc_nQi.rzpEc3.Wu59wA_a7zsEH0ktx.pt9bToX_k8N1eXO7sKnYPEGF39d.XCzGaU.aFVgxZrnKMaXHdYwK13fl3Xf8SmncMDPzp6_CCQ9kONzrVzebM2hxbKHRsss3wqzDu.b.K0SBgLMM5_bwwl8KY75f.J5mVNvZMXJ9hEqPE-&w=200&format=jpg',
      '$8.03',
      '$11.99',
      '33% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/far-cry5---lost-on-mars/BRW91CKVX4GS',
      'Far Cry 5 - Lost on Mars',
      'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcYcPhPOhilIfaJOhbUwgbgDqOI6hAEVjhNYuWcKy_mgqX5whIgPT.bVQalDdp3hlNp1..R1FTtIgnAZhEzZPzi97RLTvqRE.bhcrllQsW2om.HkLAb3bId05S2d68VuOUccst49zD.T6wzan_Niw8hygOLOydS9eGetLXDmS9XFE-&h=300&w=200&format=jpg',
      '$6.69',
      '$9.99',
      '33% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/far-cry5---dead-living-zombies/BQPB7XRTK3RB',
      'Far Cry 5 - Dead Living Zombies',
      'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTc2jF7bs6lSK2onlltC93Rbmz13xqRRbiFY.ht_MyzMAcsSE79bm2qgebWYqm2uuBKJseW_M5l1.3eoUObmM0VKwBZ_bWfG7c7nqZi2HcEBmjDto8UcZUOroH9nOTlBlshKPrhQLEhCHZcYznI_D6EIyf2TOuFAhIVrkqD6tNAXuw-&h=300&w=200&format=jpg',
      '$5.35',
      '$7.99',
      '33% OFF'
    )