+section-heading('spotlight-sale', 'Spotlight Sale')
.container.grid-xl
  .columns
    +game-card(
      'https://www.microsoft.com/store/p/spike-volleyball/BTWL97XSD0WT',
      'SPIKE VOLLEYBALL',
      'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcE0XYUgeJi_0ogcbonTGM3KEV92UImG2RLEVlDuK5ZNKBbKvzY6eh4eWjligxmW9lLCb4YEkrMHNjXlkdfDzn4edde8N4ko7uFU9SHiaqgH.xJ_Us3QPsL9fsYQOY.Wv.7NV_aXJ_c6VeKEHPpNzBYUp6Xwu4YmVeQ0yfxidJtgQ-&w=200&format=jpg',
      '$35.99',
      '$39.99',
      '10% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/at-sundown-shots-in-the-dark/BXM2RR6SD7WT',
      'At Sundown: Shots in the Dark',
      'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcRHe_Le.LdjSC3KH336tN_MEazNuHRxYeypnDP5TH4PdC774YIRmVZmtlpSMOVCKZ5cTPZyjfJ53QiSH35MCVSc9yD8EoRsX2l_xg67hUzX9XSmtdEOzltDxKTOTzqi4N.JIPdIF6hNXEGhfitEiESuMUuYcazLL_KOty1Kiz.wY-&w=200&format=jpg',
      '$15.99',
      '$19.99',
      '20% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/guacamelee-2/9NVK1W7L093S',
      'Guacamelee! 2',
      'https://store-images.s-microsoft.com/image/apps.23092.14397779034221809.944fbd29-b3cc-4468-ac15-d7349271a6fe.aa0044ac-6a97-43d4-8f73-408cb1d41c74',
      '$15.99',
      '$19.99',
      '20% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/smoke-and-sacrifice/BWK9FSCZLQCR',
      'Smoke And Sacrifice',
      'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcQjJNbdy_7eEXSjG1Q67CrSb.77l_h5qXsoBvKeYY.H4OO5LDTun5aUEb3aQRJm1q9._OFGZf9tHcMEQDE3oupkATSEODVPMfRyQ6xeYedtrEn2pwff.oEYtqUcGQr_tSFNBPyJ7M3mqSbL7cClf2wlXuk_fmuD7pgLV1f5RziJU-&w=200&format=jpg',
      '$15.99',
      '$19.99',
      '20% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/deployment/C1ZJGF2JXSHM',
      'Deployment',
      'https://store-images.s-microsoft.com/image/apps.59417.65705053504536370.c1188f69-0976-4a1d-8e43-1bcdcb951ccc.f5e04149-1833-47fe-8711-618562d2585a',
      '$7.49',
      '$9.99',
      '25% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/digerati-card-game-bundle-vol1/C3Z6ZH7WH8JR',
      'Digerati Card Game Bundle Vol.1',
      'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcJhTRqwtyCmfJ4lv2LFn_zaxrbVuk8jS1VGt84UrbEftzsDVie87ed33Y.kIQP4AplP.Ui5VfEbUcq12kjO9.KlMh_r2QrPpMC2.Ntz2WbAe7xw36cj2_TP8k_h_XlDZ9sRpnZFqaubYpSY7f7wPxKjQZ46DStMDH55QMuTW07ag-&w=200&format=jpg',
      '$23.79',
      '$27.99',
      '15% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/yet-another-zombie-defense-hd/C0988KFJN8BL',
      'Yet Another Zombie Defense HD',
      'https://store-images.s-microsoft.com/image/apps.16570.64724323028014905.4319e58c-e84c-495e-9a84-faf3a0f393a1.64ecccc2-1de2-4b42-986b-ce743c2efcdc',
      '$3.34',
      '$4.99',
      '33% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/atomine/BR3D0G4JZVZK',
      'ATOMINE',
      'https://store-images.s-microsoft.com/image/apps.25825.68903001037097488.8367ab30-3ae0-49b5-88c5-7adc4f3feb61.0f265cf4-8397-4f0b-a426-90ea3b2c6919',
      '$4.99',
      '$9.99',
      '50% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/grim-legends-collection/C11TK3P8P2BW',
      'Grim Legends Collection',
      'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcYUWTC4bZ3mtJTkmWr_qQAlUIxiDcRl1YqNcjZ.M_XYzJ0wY2ZSVRarOoEP5vtVl0L8vqdd3oDCW2gJp0MpXvNMUNruwFM_5fhs54NjCbpZsdI7JzpmD9gt65V8p2ZX0cGl6lw6p6iy.upueo8mYPettWog8O2SpQXDkmLZQ36ds-&w=200&format=jpg',
      '$35.99',
      '$44.99',
      '20% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/xenon-valkyrie/BXZSWTZX4H4R',
      'Xenon Valkyrie+',
      'https://store-images.s-microsoft.com/image/apps.31778.63947939566921580.c52847d5-b55a-4651-a1d1-b4e760c9c5e7.e4def9bf-587f-4926-9f88-450b2ce80abd',
      '$4.99',
      '$9.99',
      '50% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/nightmares-from-the-deep-collection/BZ292DNW53RF',
      'Nightmares from the Deep Collection',
      'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcrDHO0epmC6p96QYxtfVL2DAhElhX2_Jl81pQrKCAyHRWSL1yW.qJ9soS8MNbebEZ9VFBWZJhUIV1BprJAEURLcTLnqAj9iwW1fMYKNb0X3HCtXtLyKnqIdOzYArbXE5VaCxHOgmyI4FHGUYgdFc3lFSieg6v5W4oVII1zygzrZw-&w=200&format=jpg',
      '$35.99',
      '$44.99',
      '20% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/digerati-card-game-bundle-vol1/C3Z6ZH7WH8JR',
      'Digerati Pixel Art Bundle Part 1',
      'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcttSGeduxfhkbTYyXZ.7tLQgOxPnDqSJg4AyVwei1Ce0q2Ys0dYtrj4MxjkZEYFLaEXvEIH0hqrkNgWiRqpCOn5mvAYAse.qpotgKPWwE_wM9Pl_IrQ2qKNbiTlpK_cSQn95G3ji0Cu18H6K0lqePiaKgxVVS1_.6H1UWHFaS3mI-&w=200&format=jpg',
      '$40.39',
      '$50.49',
      '20% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/flying-tigers-shadows-over-china/C0K72P573FSC',
      'FLYING TIGERS: SHADOWS OVER CHINA',
      'https://store-images.s-microsoft.com/image/apps.14688.64286168779643232.e59d8100-f61d-440d-9a3e-015e1f141559.486fed4a-6ce6-4a31-a580-3c3b92fc57a4',
      '$9.49',
      '$18.99',
      '50% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/digerati-couch-co-op-bundle-vol1/C316H6H3K2HR',
      'Digerati Couch Co-Op Bundle Vol.1',
      'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcWf.eua.GEhivtH8mg51gAlFpe00vMwTEixyUnTDw7Tb4166VIpXfdGKjXbcwa2AvNfqGznjVkPggyG463TTsAX.mD1SmfAeXhKG6WztJnh4B1jFMV9Tmlypva62R5hLa18zW1Al3G4teI9nodyhO6Osgln771GhviAqexre7svA-&w=200&format=jpg',
      '$62.99',
      '$89.99',
      '30% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/artifex-mundi-adventure-collection/BSF9FVV3P8D9',
      'Artifex Mundi Adventure Collection',
      'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcz8wN0ebuqSmGllzDWCcC474SXojz9xHQBzZWoNsgS67m.lxr3mMrGtjockPLGVDttxcq4TmLNmKWCKZfBn9oCKCdTS7KGZoTVShERTAUGDXJujl1t.4WEOIJ.FeYaxIQgSH3euKKqtqkZhrVNvpFduCHY0U3Zz33JYl_5rXvMa8-&w=200&format=jpg',
      '$10.65',
      '$35.49',
      '70% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/the-jackbox-party-quadpack/BTF4L389V68B',
      'The Jackbox Party Quadpack',
      'https://store-images.s-microsoft.com/image/apps.7064.70837386162618613.c0d4e328-f426-4e66-9d62-c92e9dd38d8f.5736ea1c-ecee-4980-a3a3-638ca001934f',
      '$74.99',
      '$99.99',
      '25% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/light--dark-bundle/BZ6PS8TDB5QF',
      'Light & Dark Bundle',
      'https://store-images.s-microsoft.com/image/apps.50041.64093678946650338.48581ae6-bdc6-4a0c-8aef-834c64da72cb.143eefd3-b367-4cdd-8560-bbb39d3a0368',
      '$22.49',
      '$29.99',
      '25% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/i-zombie/BXQJ9T399PFW',
      'I, Zombie',
      'https://store-images.s-microsoft.com/image/apps.51520.63251577346807290.61165679-7eed-4289-b6e6-84a87acb8e81.d95159bb-4e2c-4196-973d-301c860fd88b',
      '$1.99',
      '$3.99',
      '50% OFF'
    )
    +game-card(
      'https://www.microsoft.com/store/p/rocket-league/C125W9BG2K0V',
      'Rocket League',
      'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcggAYhrQQ28eK8cdZQ0maNn6m0N0wFaAwQDistITPm2zgpfq.GifdiyHhALFq1JX47BIfU5WzXf2b.jlTrJYqsiNB4HbDgPEt4C8_w9vnQpQAOU_CLQ8miVqnwswQXrFxM4ywypf.DhyVpySh8Ltgh_8yPlJKPr8DzukbHIWLCHE-&w=200&format=jpg',
      '$10.00',
      '$19.99',
      '50% OFF'
    )