// Core variables and mixins
@import "variables";
@import "mixins";

.section-navbar {
  background: $gray-color;
  height: 3.8rem;
  padding-top: 1rem;

  .navbar-brand {
    color: $primary-color;
    font-weight: 700;
    height: 1.8rem;
    line-height: 1.8rem;
  }
}

.section-games {
  .column {
    padding-bottom: .4rem;
    padding-top: .4rem;
  }
  .card {
    border: .1rem solid transparent;
    height: 100%;
    text-decoration: none;
    transform: all .25s ease;

    &:hover {
      animation: reveal-focus 1s 1;
      background: #F1F1F1;
      border-color: #202020;
      box-shadow: 0 .1rem 1.2rem rgba(0, 0, 0, .15);
    }

    .card-header {
      padding: .4rem;
      padding-bottom: 0;
    }

    .card-body {
      padding: .4rem;
      padding-bottom: 0;
    }

    .card-footer {
      padding: .4rem;
    }
  }

  .game-card-cover {
    box-shadow: 0 .1rem 1.5rem rgba(0, 0, 0, .15);
  }

  .game-card-discount {
    background: #FFD800;
    color: #202020;
    display: inline-block;
    font-size: .6rem;
    line-height: 1;
    padding: .1rem .2rem;
    text-transform: uppercase;
  }

  .game-card-title {
    color: #202020;
    font-size: .8rem;
    font-weight: 700;
    line-height: .85rem;
    margin-top: .2rem;
  }

  .game-card-newprice {
    color: $primary-color;
    display: inline;
    font-size: 1rem;
    font-weight: 700;
  }

  .game-card-oriprice {
    color: #202020;
    display: inline;
    font-size: .7rem;
    text-decoration: line-through;
  }
}

.x-title {
  padding: 1rem 0;
  .anchor {
    color: $primary-color;
    font-size: 85%;
    margin-left: .2rem;
    padding: 0 .2rem;
    text-decoration: none;
  }
}

// Animations
@keyframes reveal-focus {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, .15);
  }
  25% {
    box-shadow: 0 .1rem 2.5rem rgba(0, 0, 0, .25);
  }
  100% {
    box-shadow: 0 .1rem 1.5rem rgba(0, 0, 0, .15);
  }
}