.x-footer.container.grid-xl
  p
    | Last update: 
    span.ml-1.pr-2.text-bold.text-primary #{today}
  p
    | Designed and built with 
    span.text-error &hearts;
    | . This is not a Microsoft website. Xbox and Xbox Live are Microsoft trademarks.