- var date = new Date();
- var today = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate();

.x-footer.container.grid-xl
  p.text-bold
    | Last update: 
    span.text-primary #{today}
  p
    | Designed and built with 
    span.text-error &hearts;
    | . This is not a Microsoft website. Xbox and Xbox Live are Microsoft trademarks.