header.navbar
  .navbar-section
    a.navbar-brand(href=domain)
      | Xbox Deals & Sales
  .navbar-section.hide-sm
    a.btn.btn-link(href="deals-with-gold.html", class= (slug == 'deals-with-gold' ? 'active' : false))
      | Deals with Gold
    a.btn.btn-link(href="spotlight-sale.html", class= (slug == 'spotlight-sale' ? 'active' : false))
      | Spotlight Sale
    a.btn.btn-link(href="new-releases.html", class= (slug == 'new-releases' ? 'active' : false))
      | New Releases
  .navbar-section
      a.btn.btn-primary(href="https://microsoft.msafflnk.net/c/1272791/433017/7593?u=https://www.microsoft.com/store/p/xbox-live-gold/cfq7ttc0k5dj" target="_blank") Join Xbox Live Gold