.toast.toast-primary
  | Get two months of 
  a(href="https://microsoft.msafflnk.net/c/1272791/433017/7593?u=https://www.microsoft.com/store/p/xbox-game-pass/cfq7ttc0k6l8" target="_blank") Xbox Game Pass
  |  or 
  a(href="https://microsoft.msafflnk.net/c/1272791/433017/7593?u=https://www.microsoft.com/store/p/xbox-live-gold/cfq7ttc0k5dj" target="_blank") Xbox Live Gold
  |  for $2