.section {
  min-height: 50vh;
  padding: 4rem 0;
}

.section h1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.4rem;
}

.section h2 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem;
  margin: 2rem auto;
  max-width: 24rem;
}

.section h3 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.4rem;
  margin-bottom: 4rem;
  position: relative;
}

.section h3::before {
  background: #202020;
  bottom: -2rem;
  content: "";
  display: block;
  height: .1rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 2rem;
}

.section h4 {
  display: inline-block;
  font-size: 2rem;
  font-weight: 800;
  line-height: 2.4rem;
  margin-bottom: 2rem;
  position: relative;
}

.section .container-divider {
  border-bottom: .1rem solid #ededed;
  padding-bottom: 4rem;
}

.section-services,
.section-case-studies,
.section-team,
.section-contact {
  background: #f2f7ff;
  margin-top: 4rem;
  padding: 2rem 0 4rem 0;
  position: relative;
}

.section-services::before,
.section-case-studies::before,
.section-team::before,
.section-contact::before {
  background: #f2f7ff;
  content: "";
  display: block;
  height: 8rem;
  left: 0;
  position: absolute;
  top: 0;
  transform: skewY(-6deg);
  transform-origin: 0;
  width: 100vw;
  z-index: -1;
}

.section-navbar {
  padding: 1rem 0;
}

.section-navbar .navbar-brand {
  height: 1.6rem;
}

.section-navbar .navbar-section .btn {
  font-size: .7rem;
}

.section-navbar .winkrypto-logo {
  height: 1.6rem;
  width: auto;
}

.section-hero {
  padding: 6rem 0;
}

.section-hero .icon-mouse {
  border: .1rem solid #202020;
  border-radius: .9rem;
  height: 1.8rem;
  margin: 4rem auto 0 auto;
  position: relative;
  width: 1.2rem;
}

.section-hero .icon-mouse::before {
  background: #202020;
  border-radius: 4rem;
  content: "";
  display: block;
  height: .4rem;
  left: 50%;
  position: absolute;
  top: .3rem;
  transform: translateX(-50%);
  width: .15rem;
}

.section-services .card .card-body {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6rem;
}

.section-services-more {
  padding: 2rem 0;
}

.section-services-more p {
  width: 100%;
}

.section-services-more .columns {
  margin: 2rem 0;
}

.section-services-more .column {
  align-items: center;
  display: flex;
  display: -ms-flexbox;
  -ms-flex-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section-services-more .card-media {
  height: 100%;
  padding: 1rem;
}

.section-services-more .card-media .card-header {
  padding: .8rem 0;
}

.section-services-more .container-audience .card {
  margin: 2rem 0;
  width: 100%;
}

.section-services-more .container-audience .card .card-header {
  font-size: 2rem;
}

.section-services-more .container-audience .card .card-body {
  padding-top: .5rem;
}

.section-services-more .service-figure {
  height: 10rem;
  width: auto;
}

.section-case-studies .container-case-client {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.section-case-studies .columns {
  margin: 0;
}

.section-clients {
  padding: 6rem 0;
}

.section-clients .client-logo {
  filter: grayscale(100%);
  height: 2.5rem;
  margin: 2rem auto;
  width: auto;
}

.section-clients .client-logo:hover {
  filter: grayscale(0);
}

.section-team .card-member {
  background: #fff;
  box-shadow: 0 .4rem 1.6rem rgba(32, 32, 32, .05);
  margin-top: 50%;
}

.section-team .card-member .card-member-avatar {
  box-shadow: 0 .4rem 1.6rem rgba(32, 32, 32, .15);
  height: auto;
  margin-top: -50%;
  width: 100%;
}

.section-team .card-member .card-member-title {
  bottom: 1rem;
  color: #fff;
  font-weight: 600;
  position: absolute;
  right: 3rem;
}

.section-team .card-member .card-header {
  padding: 0 2rem;
  position: relative;
}

.section-team .card-member .card-body {
  font-size: .7rem;
  padding: 1rem 2rem 2rem 2rem;
}

.section-team .card-member .card-body p {
  margin-bottom: 0;
}

.section-team .card-member .text-large {
  font-size: 1rem;
}

.section-why .why-number {
  color: #0056ff;
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 0;
}

.section-why .why-title {
  font-size: 1.2rem;
  font-weight: 800;
}

.section-contact .container-contact {
  background: #fff;
  box-shadow: 0 .4rem 1.6rem rgba(32, 32, 32, .05);
  margin: 0 auto;
  padding: 4rem;
}

.section-contact a {
  color: #202020;
  text-decoration: underline;
}

.section-footer {
  background: #f2f7ff;
  min-height: auto;
  padding: 0 0 2rem 0;
}

.section-footer .winkrypto-logo {
  display: inline-block;
  height: 1.6rem;
  width: auto;
}