extends _layout/_layout.pug

block variables
  - var slug = 'deals-with-gold'
  - var parent = 'index'
  - var title = 'Xbox Deals With Gold - Xbox Deals & Sales - Xbox One Games, Xbox Live Gold'
  - var description = 'Xbox Deals With Gold And Spotlight Sale Plus Publisher Sale.'

block content
  .section-navbar
    .container.grid-xl
      include _layout/_header.pug

  .section.section-ads
    .container.grid-xl
      include _layout/_ad-c.pug

  .section.section-games
    .container.grid-xl
      +section-heading('deals-with-gold', 'Deals with Gold')
      .columns
        include _content/_dwg.pug

  .section.section-share#share
    .container.grid-xl
      h2.x-title Embed
      .columns
        .column
          textarea.form-input(name='embed', rows='3')
            <iframe src="https://xboxlive.store/embed.html" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0"><a href="https://xboxlive.store" target="_blank">Xbox Deals & Sales</a></iframe>

  .section.section-ads
    .container.grid-xl
      include _layout/_ad-p.pug

  footer.section.section-footer
    include _layout/_footer.pug