extends _layout/_layout.pug

block variables
  - var slug = 'index'
  - var parent = 'index'
  - var title = 'Xbox Deals & Sales - Xbox One Games, Xbox Live Gold'
  - var description = 'Xbox Deals With Gold And Spotlight Sale Plus Publisher Sale'

block content
  .section-navbar
    .container.grid-xl
      header.navbar
        .navbar-section
          a.navbar-brand(href="/")
            | Xbox Deals & Sales
        .navbar-section
          a.btn.btn-primary(href="https://microsoft.msafflnk.net/c/1272791/433017/7593?u=https://www.microsoft.com/store/p/xbox-live-gold/cfq7ttc0k5dj" target="_blank") Join Xbox Live Gold
  
  .section.section-ads
    include _layout/_ad-g.pug

  .section.section-games
    +section-heading('deals-with-gold', 'Deals with Gold')
    .container.grid-xl
      .columns
        +game-card(
          'https://www.microsoft.com/store/p/Halo-5-Guardians/BRRC2BP0G9P0',
          'Halo 5: Guardians',
          'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcF.eDZomSCEW5BsVkS0cEuwsns0BEZCPAiv2Y.B28t3jfDXdxbpFUgPyJXbGAaC22czzq2.0WXUhpX_4KCEDTTszh1rXTn1PWfBfGck4twIkT1jzbA3cfYvECgz5urP00fseGfsbOXvpq05SxrYJ1RuUjjQX3K_plhrX8Ot3UgB0-',
          '$19.99',
          '',
          '25% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/EA-SPORTS-UFC-3-Deluxe-Edition/BVXMWSPWMBRK',
          'EA SPORTS UFC 3 Deluxe Edition',
          'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcAGTdtS5izJIEkXqGpSf_T55FKb4UJqAf6.iNiWc5Pp8bWCrcH9bSr8iYD7EJ1HVI.XX_5hp_IHvMpGaT4KOAcWwquVQ7ujmIdOOCGO7tRdO5hp6SOddGNZI5z9_15VGSAIB4x4kSpLegLs03ExWZQgBQ7XFqmbxvinjv0cs_Yls-',
          '$19.80',
          '$59.99',
          '67% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/Life-is-Strange-Before-the-Storm-Deluxe-Edition/C374DZ0SCT26',
          'Life is Strange: Before the Storm Deluxe Edition',
          'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcbw.sVV24zOjoT22dKU3QGiYeL.IE0W3oV7DvByJv64p5.grbFdxnhAi7i_mxHF.uvT84Kb3yAX9EwHi7ipZPa.dbOa_ZurES2kqyzFv3HVirhARZkwBV5uF6BxeTdeq_ZqOHkL6HcNn.Plo4wERbyr3PV3srFEyZXAqdV.VhcZQ-',
          '$7.50',
          '$24.99',
          '70% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/Rise-of-the-Tomb-Raider-20-Year-Celebration/C4S60FPWF4XN',
          'Outbreak: The Nightmare Collection',
          'https://store-images.s-microsoft.com/image/apps.56105.71245455581429464.f238afe4-bf23-4ebf-9da1-0101c130aa0e.faba8fc9-412b-443a-bf71-ddf97fb61c40',
          '$7.49',
          '$14.99',
          '50% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/SteamWorld-Dig-2/9P45LLRNDP1R',
          'SteamWorld Dig 2',
          'https://store-images.s-microsoft.com/image/apps.36700.14599425922253294.95904bbc-623a-4bdd-83de-0dcc69babd49.60926f5d-3773-45de-9c80-0a308c137ae1',
          '$9.99',
          '$19.99',
          '50% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/Styx-Shards-of-Darkness/BTBWJ7WC1Q76',
          'Styx: Shards of Darkness',
          'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTc9SqnY7AdfODDR6l_SEhAJyyaiEd5yiq8tVwGccO3MIe_IAkRukz45g.6bGcoSYoqy0dDI_Gdi17v6C31a5HgtBXXsPKQePeIo9KG6pbJvz6.FmWRKSAmalEh6.Uq2r7xVo5qXGK6W1eGiWen_OE0MdBQjmCNCZ3As_kc0ZCKI0M-',
          '$12.50',
          '$49.99',
          '75% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/Rise-of-the-Tomb-Raider-20-Year-Celebration/C4S60FPWF4XN',
          'Rise of the Tomb Raider: 20 Year Celebration',
          'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTc2o3CUeLjyOLvRLvrq4.TZ6PbdwVLqE2XfqIENCPFJvnzzUj2hDgW2_s7NZpCHYJtqOMTPZzZuRw8YS5W.n5WQAiwLjeqGVUAiqmNpq68HOTex5_auP4_sPG4JauTqZtQn4AGUzzn8QYM6.KSBmrzYn.H.ml7I5e4wKE8TrtI7xo-',
          '$12.00',
          '$59.99',
          '80% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/Just-Cause-3-XXL-Edition/BZX2GNKXKNHL',
          'Just Cause 3: XXL Edition',
          'https://compass-ssl.xbox.com/assets/50/62/5062b010-e38c-4565-8c9b-947b2d2a4d15.jpg?n=DwG_Boxshot-digital-X1_Just-Cause-3-XXL_220x300.jpg',
          '$9.00',
          '$29.99',
          '70% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/Beatsplosion-for-Kinect/BS1C1BS3SS0V',
          'Beatsplosion for Kinect',
          'https://store-images.s-microsoft.com/image/apps.59163.69478380185988749.5268ae0e-1fb4-4ac8-9a9e-13edfece4b9a.c17251fe-7561-405d-b819-0f9e01418c04',
          '$7.79',
          '$12.99',
          '40% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/Bloody-Zombies/BQ2V1LV1THGM',
          'Bloody Zombies',
          'https://store-images.s-microsoft.com/image/apps.4606.68303262275427484.dc423aad-ec0e-4ef1-809b-8225dbbf2af2.110f5eef-f66a-4a75-bc17-ea145c25980b',
          '$7.49',
          '$14.99',
          '50% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/Doodle-God-Ultimate-Edition/BTG75RR3VHC6',
          'Doodle God: Ultimate Edition',
          'https://store-images.s-microsoft.com/image/apps.50905.70886131263897771.dcca736a-a03d-46bc-80de-e1d87ce80a17.4017c291-9a42-4f53-94b0-e19e3bbd9514',
          '$5.99',
          '$14.99',
          '60% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/Guilt-Battle-Arena/9NMKBMTK5L8M',
          'Guilt Battle Arena',
          'https://store-images.s-microsoft.com/image/apps.51157.13690668820466484.c399d55f-3dca-4044-accb-495495c2aa32.de771ecb-212e-440c-bfe2-36882c9becc5',
          '$3.99',
          '$9.99',
          '60% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/Life-is-Strange-Before-the-Storm-Complete-Season/BRB2J2GKCC3H',
          'Life is Strange: Before the Storm Complete Season',
          'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTc5y_Vrk7UUwH8uKivu98FWOMuRfzzGCClj_WttgM8rlPNeWrz8s9kFsqaYA1WHt9CelizsY08MM5lmNRX3qrHHJ7Wvpg94iEiEHw2URcdhT4_2kYOXCDwODXfPWhx3Gni3akDkdnka0AX4pBrOv8p2lW1kNOVSRQ65bvbeNi3ZE0-',
          '$27.99',
          '$39.99',
          '70% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/Nickelodeon-Kart-Racers/C2KJR9VG1L97',
          'Nickelodeon: Kart Racers',
          'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcaAdyVrp9n2w5HZyWuw7TGpDM_24fCYoNXh9vja0sEJab54XG6CUuHaOR4tTyEAxVW1eKbJkYIpQZ9Ji5EIsLo05EFkUNFCFoLKdoai_l97wKAApRLkNfXHQ5BSHYxM0.n4CDoxdEvRv1LMePvtWehbMXFTo2bM33e3Sq9blCpSQ-',
          '12.00',
          '59.99',
          '30% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/Premium-Pool-Arena/C17WDRJWSPQH',
          'Premium Pool Arena',
          'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcaYWL94MW7vrw2RGZq50MMtKj1uFvVLIxy_WHxz7TdZd58skoaxOefXgHZFF09gv1DrDwcYbDS1KwE5i7QIntU_aRRda4wtALwLQgA_ia9cm38gSiRH2I04kVj0eIYN_FKhEMr6HwkuonhLtRQ.e2r7T_n5FlfKI0wNLAAe6G0zE-',
          '$4.00',
          '$9.99',
          '60% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/Sherlock-Holmes-Crimes-and-Punishments/BXF17DHB5HKB',
          'Sherlock Holmes: Crimes and Punishments',
          'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTc4J9WLVtyfxa8gGYZ6u8qXPtpFZcsCSHYsxKhMSFNGhyePT5MKNhaC9TpLg3b19HbLfE6qVWBOUhDRnN7Zd5MrBk9tPHmoojNOJNEBxitfBr50rq5FKZ57dQrRSTalZIsX4_THP62_EKzx1wj3CO1eddo_TiVJLlEKm.gojm97Ck-',
          '$7.50',
          '$29.99',
          '75% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/Sky-Force-Reloaded/BXBM72LSWFJ0',
          'Sky Force Reloaded',
          'https://store-images.s-microsoft.com/image/apps.6032.63555923445891867.40ccdc94-3223-49a2-a5eb-2088f36f7e80.752b36a2-dffb-4d8c-aa28-d2de064feb73',
          '$5.99',
          '$9.99',
          '40% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/Slender-The-Arrival/BP25WLQVLF30',
          'Slender: The Arrival',
          'https://store-images.s-microsoft.com/image/apps.49641.67714816362785337.2c9ff8d0-48a2-4746-ab7f-12033da8ba85.29c83e4f-e666-4ed8-97bc-0c26be2c4678',
          '$1.49',
          '$9.99',
          '85% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/Spintires-MudRunner---American-Wilds-Expansion/BWZVDS7FWXJM',
          'Spintires: MudRunner - American Wilds Expansion',
          'https://compass-ssl.xbox.com/assets/2c/2a/2c2a1926-c4e9-4eb3-8521-5cf64a24357a.jpg?n=DwG_Boxshot-digital-X1_Spintires-MudRunner-American-Wilds-Expansion_584x800.jpg',
          '$8.49',
          '$9.99',
          '15% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/SteamWorld-Dig/C289KCH8WP0F',
          'SteamWorld Dig',
          'https://store-images.s-microsoft.com/image/apps.40740.65316930463474702.8bd81916-34f9-4e21-9716-b1f55adb797a.c676dfb5-1b1e-4061-b357-20937cae32f6',
          '$3.29',
          '$9.99',
          '67% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/The-Shapeshifting-Detective/9NCNJ43HGVMM',
          'The Shapeshifting Detective',
          'https://store-images.s-microsoft.com/image/apps.14696.13560445540169394.1d578bf8-239c-4fab-a2d5-fe3f6b0bdc59.e57f169e-2ee8-4184-9bf9-29af8d5449ee',
          '$7.79',
          '$12.99',
          '40% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/The-Spectrum-Retreat/C1WRVQG6430C',
          'The Spectrum Retreat',
          'https://store-images.s-microsoft.com/image/apps.59520.65664515864624624.e2ddca74-6691-45db-9aa8-df82f70b2715.9c263632-7579-45f4-8a66-1e609a6a182a',
          '$6.49',
          '$12.99',
          '50% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/The-VideoKid/9NHD1JTF2MRK',
          'The VideoKid',
          'https://store-images.s-microsoft.com/image/apps.41129.13632485493774536.3a5c33aa-788d-4c3c-a6cb-6c14f5848e56.a6256491-a6db-472d-acc0-fd12042f1c32',
          '$3.49',
          '$4.99',
          '30% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/EA-SPORTS-UFC-3/C5DZH514BX37',
          'EA SPORTS™ UFC® 3',
          'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcrwSGDn2kZNG4mcTXxAaByd.hcSEOx2J52KCm_8wM4KIqcHGNtYb2i0Ghfxu.nYan7Dbw3jh68CfbaNR2r6PJSbWm1Ue3X.BAIrPXK8F3nysf.Q2D15RhRY3yXlTYquFnU5dZu9LvWI7fgz0.lez7pLyFeLVS1RUN33CfWKDGLOc-',
          '$16.00',
          '$39.99',
          '30% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/Alien-Isolation/C1H9V6SLK2K5',
          'Alien: Isolation',
          'https://compass-ssl.xbox.com/assets/2c/25/2c25e53f-a92a-4ac6-83af-a45ec43163f0.jpg?n=DwG_Boxshot-digital-X1_Alien-Isolation_584x800.jpg',
          '$9.00',
          '$29.99',
          '70% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/Alien-Isolation---The-Collection/BR3TMVZ9PNWZ',
          'Alien: Isolation - The Collection',
          'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcr8V.s4C_fgm8wr8X323DHlBPxnleD.BLEGlG95vczs3uEMBYlQ3wX8lztBaKRjbBUIFW1jb7jgi5HEohMzpkLix1gdNH7gbPs.8E0SScffe.j2UcUMQ05Y.v9LOQ8aVO4vpXmI24KAhYFk4ec93pvsqhGbVHs_C_wGNB667mtaQ-',
          '$12.00',
          '$39.99',
          '70% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/Borderlands-The-Handsome-Collection/C4DQHRNN1ZN5',
          'Borderlands: The Handsome Collection',
          'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTcGuUQuZsy305pj07dyYJvCw_Vqno1fNsykZlc_PpKz0c9RUHaHuv_of3LT4wr7tEP9fyn6p._grwNhg05OeBta5DSHBHdBGFQ65BlnE8w5N6Q61xjbP5Jd3.FeFbalvtqwlU4kPPapYEIrw0UqQVo3PvhFh4UhPk_Nftv5gP2Y50-',
          '$15.00',
          '$59.99',
          '75% OFF'
        )
        +game-card(
          'https://www.microsoft.com/store/p/Carnival-Games/BS6CMVNFF1VB',
          'Carnival Games',
          'https://images-eds-ssl.xboxlive.com/image?url=8Oaj9Ryq1G1_p3lLnXlsaZgGzAie6Mnu24_PawYuDYIoH77pJ.X5Z.MqQPibUVTclyEKrt3XD1ePwSzaqv0xa6r7Vm7VvqOPwOKUQu4.HkNzsc8i.OAtL9YbsDE1zqw6ZHxEnh.oNgc1ntZfamlcEyO2F3iFQJCvmTEKqAmTiDADRWyzosQvX.sRpMpdbgViM4He3HohvQMXUKSecUA3T4n113ZC3OsSSE4VLK6iZsw-',
          '$23.99',
          '$39.99',
          '40% OFF'
        )

  .section.section-ads
    include _layout/_ad-g.pug

  footer.section.section-footer
    include _layout/_footer.pug