extends _layout/_layout.pug

block variables
  - var slug = 'index'
  - var parent = 'index'
  - var title = 'Xbox Deals & Sales - Xbox One Games, Xbox Live Gold'
  - var description = 'Xbox Deals With Gold And Spotlight Sale Plus Publisher Sale'

block content
  .section-navbar
    .container.grid-xl
      header.navbar
        .navbar-section
          a.navbar-brand(href="/")
            | Xbox Deals & Sales
        .navbar-section
          a.btn.btn-primary(href="https://microsoft.msafflnk.net/c/1272791/433017/7593?u=https://www.microsoft.com/store/p/xbox-live-gold/cfq7ttc0k5dj" target="_blank") Join Xbox Live Gold
  
  .section.section-ads
    include _layout/_ad-g.pug

  .section.section-games
    include _content/_deals-with-gold.pug

  .section.section-games
    include _content/_franchise-sale.pug
  
  .section.section-games
    include _content/_spotlight-sale.pug
  
  .section.section-ads
    include _layout/_ad-g.pug

  footer.section.section-footer
    include _layout/_footer.pug