extends _layout/_layout.pug

block variables
  - var slug = 'index'
  - var parent = 'index'
  - var title = 'Xbox Deals & Sales - Xbox One Games, Xbox Live Gold'
  - var description = 'Xbox Deals With Gold And Spotlight Sale Plus Publisher Sale'

block content
  .section-navbar
    .container.grid-xl
      include _layout/_header.pug

  .section.section-ads
    .container.grid-xl
      include _layout/_ad-c.pug

  .section.section-games
    .container.grid-xl
      +section-heading('deals-with-gold', 'Deals with Gold')
      .columns
        include _content/_dwg.pug
        .column.col-2.col-lg-3.col-md-6
          a.card.card-empty(href='deals-with-gold.html')
            .game-card-title
              | SHOW ALL

  .section.section-ads
    .container.grid-xl
      include _layout/_ad-g.pug

  .section.section-games
    .container.grid-xl
      +section-heading('spotlight-sale', 'Spotlight Sale')
      .columns
        include _content/_spotlight-sale.pug
        .column.col-2.col-lg-3.col-md-6
          a.card.card-empty(href='spotlight-sale.html')
            .game-card-title
              | SHOW ALL

  .section.section-games
    .container.grid-xl
      +section-heading('new-releases', 'New Releases')
      .columns
        include _content/_newreleases.pug
        .column.col-2.col-lg-3.col-md-6
          a.card.card-empty(href='new-releases.html')
            .game-card-title
              | SHOW ALL

  footer.section.section-footer
    include _layout/_footer.pug