extends _layout/_layout.pug

block variables
  - var slug = 'spotlight-sale'
  - var parent = 'index'
  - var title = 'Xbox Spotlight Sale - Xbox Deals & Sales - Xbox One Games, Xbox Live Gold'
  - var description = 'Xbox Deals With Gold And Spotlight Sale Plus Publisher Sale.'

block content
  .section-navbar
    .container.grid-xl
      include _layout/_header.pug
  
  .section.section-ads
    script(data-cfasync="false" type="text/javascript" src="https://www.onclicksuper.com/a/display.php?r=2401191")

  .section.section-games
    .container.grid-xl
      +section-heading('spotlight-sale', 'Spotlight Sale')
      .columns
        include _content/_spotlight-sale.pug

  .section.section-share#share
    .container.grid-xl
      h2.x-title Embed
      .columns
        .column
          textarea.form-input(name='embed', rows='3')
            <iframe src="https://xboxlive.store/embed.html" width="100%" height="600" frameborder="0" marginwidth="0" marginheight="0"><a href="https://xboxlive.store" target="_blank">Xbox Deals & Sales</a></iframe>

  footer.section.section-footer
    include _layout/_footer.pug